@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root{
    font-family: 'Patrick Hand', cursive;
    --text-color: rgba(246,175,133,255);
    --bg-color:  rgba(73,96,166,255)
}
body{
    background-color: var(--bg-color);
    height: 99vh;
    width: 100vw;
}
.content{
    height: 99vh;
    width: 100vw;
}
button{
    background-color: var(--bg-color);
    border:0px; 
    color:var(--text-color)
}